extends layout

block content
  h1= title
  ul 
    each message in messages 
      li
        h2= message.user
        p= message.text
        p= message.added
  a(href='/new')= 'Create a new message'
